main{
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

.signup-div{
    display: flex;
    width: 80%;
    min-width: 300px;
    flex-flow: column nowrap;
    /* gap: 20px; */
    justify-content: flex-start;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
    box-sizing: border-box;
    padding: 20px 10px;
    min-height: fit-content;
    height: 80vh;
    margin: 10px auto;
}

.signup-container{
    width: fit-content;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    /* background-color: red; */
    /* background-color: white;
    box-shadow: 0 0 5px gray; */
}

.signup-form div{
    display: flex;
    justify-content: center;
    position: relative;
    flex-flow: column nowrap;
    margin-bottom: 20px;
}
/* 
.signup-form div label{
    font-size: .9em;
    color: gray;
    position: absolute;
    left: 10px;
    top: 10px;
} */

#onclick-fullname, #onclick-username, #onclick-email, #onclick-phone, #onclick-password, #onclick-Rpassword{
    /* font-size: .9em;
    top: 10px;
    background-color: white; */
    color: gray;
    position: absolute;
    left: 10px;
    background-color: white;
    top: -10px;
    padding: 5px;
    font-size: .7em;
}

.signup-container form{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
}

.signup-container form label{
    margin-top: 5px;
}

.signup-container input{
    padding: 12.5px;
    margin: 0;
    width: 250px;
    margin: 5px 0;
    border-radius: 2.5px;
    border: 1px solid rgb(7, 66, 124);
    /* background-color: rgb(7, 66, 124); */
    /* color: white; */
}

.signup-container form h1{
    margin: 0 0 20px;
    font-family: roleway-b;
    font-size: 1.2em;
    color: rgb(7, 66, 124);
}

.signup-container button{
    margin-top: 10px;
    margin-left: auto;
    padding: 10px 5px;
    padding: 7.5px;
    background-color: rgb(7, 66, 124);
    border: 1px solid rgb(7, 66, 124);
    border-radius: 2.5px;
    color: white;
}



input:-webkit-autofill:first-line {
    color: red;
    color: rgb(7, 66, 124);
}

/* Code witch overwrites input background-color */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fbfbfb inset;
}